.list {
  .changes {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-md;

    .search {
      box-shadow: 0 0 0 1px $gray-200;
      border-radius: $border-radius;
      background: white;
      padding: $spacing-sm;
      display: flex;
      justify-content: space-between;
      margin-right: 12px;

      input {
        height: 13px;
        margin-right: 12px;
        border: none;
      }
    }

    .quick-filters {
      display: flex;

      & > div:not(:last-child) {
        margin-right: 12px;
      }

      .filter {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 $spacing-sm;
        background: $gray-100;
        border-radius: $border-radius;
        height: 29px;

        .value {
          font-weight: 700;
          margin: 0 $spacing-sm;
        }

        .chevron-down {
          width: 10px;
          margin-right: $spacing-sm;
        }

        .times-circle {
          width: 12px;
        }
      }
    }

    .reset {
      padding: $spacing-sm;
      margin-right: 4px;
    }
  }



  table {
    thead tr, tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;

    }

    thead {
      tr {
        background: $gray-100;
        border-bottom: 2px solid $gray-200;

        th {
          &.checkbox {
            width: 120px;
            max-width: 120px;
            padding-left: $spacing-sm;
          }

          &.title {
            width: 250px;
            max-width: 250px;
          }

          &.description {
            width: 320px;
            max-width: 320px;
          }

          div {
            display: flex;
            margin-right: $spacing-md;

            &.uploaded-changed {
              img:first-child {
                margin-right: $spacing-sm;
              }
            }
          }
        }

        p {
          text-transform: uppercase;
          font-weight: 700;
          padding: 12px 0;
          margin-right: $spacing-sm;
        }
      }
    }

    tbody {
      @include scrollbar-x;
      /* TODO: would be cool to add a calculation that does sth. like this:

      $line-item-height: 57px;
      $data-height: $line-item-height * 15; // 15 items
      $diff: 60vh - get-vw($data-height);
      $max-height: min($data-height, 60vh - $data-height);

      max-height: $max-height; */
      max-height: 60vh;

      display: block;
      overflow-y: scroll;

      background: linear-gradient(0deg,
        rgba(152, 173, 184, 0.1) -5%,
        transparent 2%,
        transparent 98%,
        rgba(152, 173, 184, 0.1) 105%
      );

      tr {
        position: relative;
        border-bottom: 1px solid $gray-200;

        .actions {
          visibility: hidden;

          button {
            padding: 4px $spacing-sm;
            border-radius: $border-radius;

            &:not(:last-child) {
              margin-right: $spacing-sm;
            }

            &.btn-primary {
              background: $brand-primary-dark;
              color: white;
            }

            &.btn-secondary {
              box-shadow: 0 0 0 1px $gray-200;
              background: $gray-100;
            }
          }
        }

        &:hover {
          box-shadow: 0 3px 24px 0 rgba($gray-200, 0.6);
          position: relative;
          z-index: 1;

          .actions {
            position: absolute;
            right: 15px;
            top: 15px;
            visibility: visible;
          }
        }
      }

      td {
        vertical-align: middle;

        &.fixed {
          position: absolute;
          width: 5em;
          left: 0;
          top: auto;
          border-top-width: 1px;
          /*only relevant for first row*/
          margin-top: -1px;
          /*compensate for top border*/
        }

        &.checkbox {
          justify-content: space-between;
          align-items: center;
          width: 120px;
          max-width: 120px;
          padding-left: $spacing-sm;

          img {
            margin-left: $spacing-sm;
            height: 32px;
          }
        }

        &.title {
          width: 250px;

          .visibility {
            width: 18px;
          }

          p {
            margin-left: $spacing-sm;
            font-weight: 700;
            color: $brand-primary;
            white-space: nowrap;
          }
        }

        &.description {
          width: 320px;
          max-width: 320px;
          line-height: 1.5;

          p {
            height: 38px;
            overflow: hidden;
          }
        }

        &.uploaded-changed {
          & > div {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;

            & > div {
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: flex-start;

              img {
                margin-right: $spacing-sm;
              }

              &:not(:last-child) {
                margin-bottom: $spacing-sm;
              }
            }
          }
        }

        & > div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: $spacing-sm 0;
          margin-right: $spacing-md;

          &.tags, &.secondary-tags {
            & > div {
              margin-right: $spacing-sm;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-sm;
    margin-top: $spacing-sm;

    .pagination-buttons {
      display: flex;

      .btn-pagination {
        background: transparent;
        border: none;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        border-radius: $border-radius;
        cursor: pointer;

        &.active {
          background: $brand-primary;
          color: white;
        }
      }
    }

    .count {
      font-size: 12px;

      span {
        font-weight: 700;
      }
    }
  }
}
