.list {
  .changes {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-md;

    .search {
      border: 1px solid $gray-400;
      border-radius: $border-radius;
      background: white;
      padding: $spacing-sm;
      margin-right: $spacing-md;
      height: 13px;
    }

    .quick-filters {
      display: flex;


      .filter {
        margin-right: $spacing-md;
        display: flex;
        font-size: 11px;
        align-items: center;
        justify-content: center;
        padding: 0 $spacing-sm;
        background: $gray-100;
        border-radius: $border-radius;
        border: 1px solid $gray-100;
        height: 29px;

        .value {
          font-weight: 700;
          margin: 0 $spacing-sm;
        }

        .chevron-down {
          width: 9px;
          margin-right: $spacing-sm;
        }

        .times-circle {
          width: 10px;
        }
      }
    }

    .reset {
      padding: $spacing-sm;

      a {
        font-size: 11px;
      }
    }
  }

  .header {
    display: flex;
    background: $gray-100;
    border-bottom: 2px solid $gray-200;
    padding: 12px $spacing-sm;

    p {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      margin-right: $spacing-sm;
    }
  }

  .item {
    padding: 12px;
    background: white;
    border-bottom: 1px solid $gray-200;
    display: flex;

    div {
      display: flex;
      margin-right: $spacing-sm;
      align-items: center;
      justify-content: center;

      &.checkbox {
        justify-content: space-between;
        align-items: center;

        img {
          height: 32px;
        }
      }

      &.title {
        p {
          margin-left: $spacing-sm;
          font-size: 13px;
          font-weight: 700;
          color: $brand-primary;
          white-space: nowrap;
        }
      }

      &.description {
        width: 300px;
      }

      &.uploaded-changed {
        flex-direction: column;

        div {
          white-space: nowrap;

          img {
            margin-right: $spacing-sm;
          }
        }
      }

      .badge {
        border-radius: 9999px;
        padding: 6px;

        &.primary {
          background: $brand-primary;
          text-transform: uppercase;
          color: white;
          font-weight: 700;

          img {
            margin-right: 6px;
          }
        }

        &.secondary {
          box-shadow: 0 0 0 1px $brand-primary;
          color: $brand-primary;
        }
      }
    }

    &:hover {
      box-shadow: 0 3px 24px 0 rgba($gray-200, 0.6);
      position: relative;
      z-index: 1;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-sm;

    .pagination-buttons {
      display: flex;

      .btn-pagination {
        background: transparent;
        border: none;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        border-radius: $border-radius;
        cursor: pointer;

        &.active {
          background: $brand-primary;
          color: white;
        }
      }
    }

    .count {
      font-size: 12px;

      span {
        font-weight: 700;
      }
    }
  }
}
