<nav>
  <div class="top">
    <img class="logo" src="assets/logo.svg">
  </div>
  <div class="middle">
    <ul>
    <li class="active" routerLink="/documents">
      <img src="assets/file.svg">
      <p>Documents</p>
    </li>
    <li routerLink="/configuration">
      <img src="assets/wrench.svg">
      <p>Configuration</p>
    </li>
    <li routerLink="/development">
      <img src="assets/code.svg">
      <p>Development</p>
    </li>
    <li routerLink="/reports">
      <img src="assets/chart-bar.svg">
      <p>Reports</p>
    </li>
    <li routerLink="/settings">
      <img src="assets/cog.svg">
      <p>Settings</p>
    </li>
    <li routerLink="/playground" class="playground">
        <img src="assets/playground.svg">
        <p>Playground</p>
    </li>

    </ul>
  </div>
  <div class="bottom">
    <img src="assets/avatar.png" />
    <div class="help">
      <img src="assets/question.svg">
    </div>
  </div>
</nav>
