header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .breadcrumbs {
    margin-bottom: $spacing-md;

    p {
      a {
        color: $gray-400;
      }
    }

    h1 {
      font-size: 18px;
      font-weight: 700;
      color: #3E515B;
      margin-top: 6px;
    }
  }

  .primary-actions {
    display: flex;

    & > * {
      margin-left: $spacing-sm;
    }
  }
}
