$brand-primary:   #4DB6CE;
$brand-secondary: #095769;
$brand-primary-dark: $brand-secondary;

$gray-100:  #F0F3F5;
$gray-200:  #C2CFD6;
$gray-300:  #869FAC;
$gray-400:  #A4B7C1;
$gray-500:  #678898;
$gray-600:  #536C79;
$gray-700:  #3E515B;
$gray-800:  #29363D;
$gray-900:  #151B1E;

$border-radius: 2px;
$spacing-sm: 8px;
$spacing-md: 20px;


.app {
  display: flex;

  nav {
    background: linear-gradient(180deg, #4DB6CE 0%, #335465 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 24px;
    width: 200px;

    .top {
      height: 81px;
      display: flex;
      justify-content: center;

      .logo {
        width: 130px;
        height: 21px;
        padding-top: 37px;
      }
    }

    .middle {
      flex-grow: 1;

      ul {
        li {
          padding: 12px;
          display: flex;
          align-items: center;
          justify-items: center;
          border-radius: 2px;
          width: 149px;
          margin-bottom: 18px;

          &:hover, &.active {
            background: #11657B;
            cursor: pointer;
            box-shadow: 0 0 0 1px #63c9e4;
          }

          p {
            font-weight : 400;
            font-size: 16px;
            margin-left: 12px;
          }
        }
      }
    }

    .bottom {
      display: flex;
      width: 100%;
      margin-bottom: 24px;
      align-self: flex-end;
      justify-content: space-between;
      align-items: center;

      .help {
        background: rgba(0, 0, 0, 0.17);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }

  .content {
    background: $gray-100;
    width: 100%;
    padding: 24px;

    header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .breadcrumbs {
        margin-bottom: $spacing-md;

        p {
          font-size: 13px;

          a {
            color: $gray-400;
          }
        }

        h1 {
          font-size: 18px;
          font-weight: 700;
          color: #3E515B;
          margin-top: 6px;
        }
      }

      .primary-actions {
        display: flex;

        .btn-primary {
          margin-left: $spacing-sm;
          background: $brand-secondary;
          color: white;
          border-radius: $border-radius;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            margin-left: $spacing-sm;
          }
        }
      }
    }

    .tabs {
      display: flex;
      width: 100%;
      border-bottom: 1px solid $gray-200;

      .tab {
        display: flex;
        align-items: center;
        padding: $spacing-sm $spacing-md;

        &.active {
          border-left: 1px solid $gray-200;
          border-top: 1px solid $gray-200;
          border-right: 1px solid $gray-200;
          border-bottom: 1px solid white;
          background: white;
          position: relative;
          top: 1px;
          padding-top: 7px;
          z-index: 1;
        }

        p {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 400;
          margin-right: $spacing-sm;
        }
      }
    }

    main {
      background: white;
      padding: $spacing-md;
      border: 1px solid $gray-200;
      margin-bottom: $spacing-md;

      &.with-tabs {
        border-top: 0;
        border-left: 1px solid $gray-200;
        border-bottom: 1px solid $gray-200;
        border-right: 1px solid $gray-200;
      }

      .changes {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-md;

        .search {
          border: 1px solid $gray-400;
          border-radius: $border-radius;
          background: white;
          padding: $spacing-sm;
          margin-right: $spacing-md;
          height: 13px;
        }

        .quick-filters {
          display: flex;


          .filter {
            margin-right: $spacing-md;
            display: flex;
            font-size: 11px;
            align-items: center;
            justify-content: center;
            padding: 0 $spacing-sm;
            background: $gray-100;
            border-radius: $border-radius;
            border: 1px solid $gray-100;
            height: 29px;

            .value {
              font-weight: 700;
              margin: 0 $spacing-sm;
            }

            .chevron-down {
              width: 9px;
              margin-right: $spacing-sm;
            }

            .times-circle {
              width: 10px;
            }
          }
        }

        .reset {
          padding: $spacing-sm;

          a {
            font-size: 11px;
          }
        }
      }

      .list {
        .header {
          display: flex;
          background: $gray-100;
          border-bottom: 2px solid $gray-200;
          padding: 12px $spacing-sm;

          p {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            margin-right: $spacing-sm;
          }
        }

        .item {
          padding: 12px;
          background: white;
          border-bottom: 1px solid $gray-200;
          display: flex;

          div {
            display: flex;
            margin-right: $spacing-sm;
            align-items: center;
            justify-content: center;

            &.checkbox {
              justify-content: space-between;
              align-items: center;

              img {
                height: 32px;
              }
            }

            &.title {
              p {
                margin-left: $spacing-sm;
                font-size: 13px;
                font-weight: 700;
                color: $brand-primary;
                white-space: nowrap;
              }
            }

            &.description {
              width: 300px;
            }

            &.uploaded-changed {
              flex-direction: column;

              div {
                white-space: nowrap;

                img {
                  margin-right: $spacing-sm;
                }
              }
            }

            .badge {
              border-radius: 9999px;
              padding: 6px;

              &.primary {
                background: $brand-primary;
                text-transform: uppercase;
                color: white;
                font-weight: 700;

                img {
                  margin-right: 6px;
                }
              }

              &.secondary {
                box-shadow: 0 0 0 1px $brand-primary;
                color: $brand-primary;
              }
            }
          }

          &:hover {
            box-shadow: 0 3px 24px 0 #F0F3F5;
            position: relative;
            z-index: 1;
          }
        }

        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: $spacing-sm;

          .pagination-buttons {
            display: flex;

            .btn-pagination {
              background: transparent;
              border: none;
              width: 20px;
              height: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 12px;
              border-radius: $border-radius;
              cursor: pointer;

              &.active {
                background: $brand-primary;
                color: white;
              }
            }
          }

          .count {
            font-size: 12px;

            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
