<div class="app">
  <nav>
    <div class="top">
      <img class="logo" src="assets/logo.svg">
    </div>
    <div class="middle">
      <ul>
        <li class="active">
          <img src="assets/file.svg">
          <p>Documents</p>
        </li>
        <li>
          <img src="assets/file.svg">
          <p>Configuration</p>
        </li>
        <li>
          <img src="assets/file.svg">
          <p>Development</p>
        </li>
        <li>
          <img src="assets/file.svg">
          <p>Reports</p>
        </li>
        <li>
          <img src="assets/file.svg">
          <p>Settings</p>
        </li>
        <div class="bottom">
          <img src="avatar.png" />
          <div class="help">
              <!-- .... -->
          </div>
        </div>
      </ul>
    </div>
  </nav>

  <div class="content">
    <header>
      <div class="breadcrumbs">
          <p>
            <a href="#!">Configuration</a>
          </p>
          <h1>Document Types</h1>
    </div>
    <div class="primary-actions">
      <button class="btn-primary">Create New</button>
      <button class="btn-primary">Add existing</button>
    </div>
    </header>
    <div class="tabs">
      <div class="active">
        <p>Default</p>
      </div>
      <div>
        <p>Main*</p>
      </div>
      <div>
        <p>Custom</p>
      </div>
    </div>

    <main class="card with-tabs">
      <input type="text" placeholder="Search...">
      <div class="quick-filters">
        <div class="filter">
          <p class="name">Stage</p>
          <p class="value">Separation</p>
        </div>
        <div class="filter">
          <p class="name">Stage</p>
          <p class="value">Separation</p>
        </div>
        <a href="#">Reset</a>
      </div>¨

      <div class="list has-checkboxes">
        <div class="header">
          <input type="checkbox">
          <p>Title</p>
          <p>Description</p>
          <div>
            <!-- .... -->
            <!-- .... -->
          </div>
          <p>Icons</p>
          <p>Tags</p>
          <p>Secondary Tags</p>
        </div>

        <div class="data">
          <div class="item">
            <div>
              <input type="checkbox">
              <img src="preview-sm.png" />
            </div>
            <div>
              <p>Lorem Pisum</p>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut...</p>
            </div>
            <div>
              <div><p>02.07.21, 11:11</p></div>
              <div><p>01.01.21, 14:21</p></div>
            </div>
            <div>
              <div class="badge primary"><p>DE</p></div>
              <div class="badge primary"><p>EN</p></div>
            </div>
          <div>
            <div class="badge secondary"><p>Custom</p></div>
            <div class="badge secondary"><p>SpecialTag</p></div>
          </div>
          </div>

          <div class="item">
            <div>
              <input type="checkbox">
              <img src="preview-sm.png" />
            </div>
            <div>
              <p>Lorem Pisum</p>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut...</p>
            </div>
            <div>
              <div><p>02.07.21, 11:11</p></div>
              <div><p>01.01.21, 14:21</p></div>
            </div>
            <div>
              <div class="badge primary"><p>DE</p></div>
              <div class="badge primary"><p>EN</p></div>
            </div>
          <div>
            <div class="badge secondary"><p>Custom</p></div>
            <div class="badge secondary"><p>SpecialTag</p></div>
          </div>
          </div>
        </div>

        <div class="footer">
          <div class="pagination-buttons">
            <button class="btn-pagination">|<</button>
            <button class="btn-pagination"><</button>
            <button class="btn-pagination active">1</button>
            <button class="btn-pagination">2</button>
            <button class="btn-pagination">3</button>
            <button class="btn-pagination">></button>
            <button class="btn-pagination">>|</button>
          </div>
          <div class="count">
            1-9 of 409 <strong>Document Types</strong>
          </div>
        </div>
      </div>
    </main>
</div>
