$brand-primary:   #4DB6CE;
$brand-secondary: #095769;

$gray-100:  #F0F3F5;
$gray-200:  #C2CFD6;
$gray-300:  #869FAC;
$gray-400:  #A4B7C1;
$gray-500:  #678898;
$gray-600:  #536C79;
$gray-700:  #3E515B;
$gray-800:  #29363D;
$gray-900:  #151B1E;

$border-radius: 2px;
$spacing-sm: 8px;
$spacing-md: 20px;


.app {
  display: flex;

  nav {
    background: linear-gradient(180deg, #4DB6CE 0%, #335465 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 24px 24px 24px;
    width: 200px;

    .top {
      height: 81px;
      display: flex;
      justify-content: center;

      .logo {
        width: 130px;
        height: 21px;
        padding-top: 37px;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 12px;
        display: flex;
        align-items: center;
        justify-items: center;
        border-radius: 2px;
        width: 149px;
        margin-bottom: 18px;

        &:hover, &.active {
          background: #11657B;
          cursor: pointer;
          box-shadow: 0 0 0 1px #63c9e4;
        }

        p {
          font-weight : 400;
          font-size: 16px;
          margin-left: 12px;
        }
      }
    }
  }

  .content {
    background: $gray-100;
    width: 100%;
    padding: 24px;

    header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .breadcrumbs {
        margin-bottom: $spacing-md;

        p {
          font-size: 13px;

          a {
            color: $gray-400;
          }
        }

        h1 {
          font-size: 18px;
          font-weight: 700;
          color: #3E515B;
          margin-top: 6px;
        }
      }

      .primary-actions {
        .btn-primary {
          margin-left: $spacing-sm;
          background: $brand-secondary;
          color: white;
          border-radius: $border-radius;
          height: 40px;
        }
      }
    }

    .tabs {
      display: flex;
      width: 100%;
      border-bottom: 1px solid $gray-200;

      .tab {
        display: flex;
        align-items: center;
        padding: $spacing-sm $spacing-md;

        &.active {
          border-left: 1px solid $gray-200;
          border-top: 1px solid $gray-200;
          border-right: 1px solid $gray-200;
          border-bottom: 1px solid white;
          background: white;
          position: relative;
          top: 1px;
          padding-top: 7px;
          z-index: 1;
        }

        p {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    main {
      background: white;
      padding: $spacing-md;
      border: 1px solid $gray-200;
      margin-bottom: $spacing-md;

      &.with-tabs {
        border-top: 0;
        border-left: 1px solid $gray-200;
        border-bottom: 1px solid $gray-200;
        border-right: 1px solid $gray-200;
      }

      .changes {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-md;

        .search {
          border: 1px solid $gray-400;
          border-radius: $border-radius;
          background: white;
          padding: $spacing-sm;
          margin-right: $spacing-md;
        }

        .quick-filters {
          display: flex;

          .filter {
            display: flex;
            margin-right: $spacing-md;
          }
        }
      }

      .list {
        .header {
          display: flex;
          background: $gray-100;
          border-bottom: 2px solid $gray-200;
          padding: 12px $spacing-sm;

          p {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
          }
        }

        .item {
          padding: 12px;
          background: white;
          border-bottom: 1px solid $gray-200;
          display: flex;

          &:hover {
            box-shadow: 0 3px 24px 0 #F0F3F5;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }
}
