<div class="app">
  <nav>
    <div class="top">
      <img class="logo" src="assets/logo.svg">
    </div>
    <div class="middle">
      <ul>
      <li class="active">
        <img src="assets/file.svg">
        <p>Documents</p>
      </li>
      <li>
        <img src="assets/wrench.svg">
        <p>Configuration</p>
      </li>
      <li>
        <img src="assets/code.svg">
        <p>Development</p>
      </li>
      <li>
        <img src="assets/chart-bar.svg">
        <p>Reports</p>
      </li>
      <li>
        <img src="assets/cog.svg">
        <p>Settings</p>
      </li>
      </ul>
    </div>
    <div class="bottom">
      <img src="assets/avatar.png" />
      <div class="help">
        <img src="assets/question.svg">
      </div>
    </div>
  </nav>

  <div class="content">
    <header>
      <div class="breadcrumbs">
        <p>
          <a href="#!">Configuration</a>
        </p>
        <h1>Document Types</h1>
    </div>
    <div class="primary-actions">
      <button class="btn-primary">
          <img src="assets/plus.svg">
          <p>Create New</p>
        </button>
        <button class="btn-primary">
          <img src="assets/plus.svg">
          <p>Add existing</p>
        </button>
    </div>
    </header>
    <div class="tabs">
      <div class="tab active">
        <p>Default</p>
        <img src="assets/caret-down.svg">
      </div>
      <div class="tab">
        <p>Main*</p>
        <img src="assets/caret-down.svg">
      </div>
      <div class="tab">
        <p>Custom</p>
        <img src="assets/caret-down.svg">
      </div>
    </div>

    <main class="card with-tabs">
      <div class="list has-checkboxes">
        <div class="changes">
          <input class="search" type="text" placeholder="Search...">
          <div class="quick-filters">
            <div class="filter">
              <p class="name">Stage</p>
              <p class="value">Separation</p>
              <img class="chevron-down" src="assets/qf-chevron-down.svg">
              <img  class="times-circle" src="assets/qf-times-circle.svg">
            </div>
            <div class="filter">
              <p class="name">Status</p>
              <p class="value">In Progress</p>
              <img class="chevron-down" src="assets/qf-chevron-down.svg">
              <img  class="times-circle" src="assets/qf-times-circle.svg">
            </div>
            <div class="reset">
              <a href="#">Reset</a>
            </div>
          </div>
        </div>

        <div class="header">
          <input type="checkbox">
          <p>Title</p>
          <p>Description</p>
          <div>
            <!-- .... -->
            <!-- .... -->
          </div>
          <p>Icons</p>
          <p>Tags</p>
          <p>Secondary Tags</p>
        </div>

        <div class="data">
          <div class="item">
            <div class="checkbox">
              <input type="checkbox">
              <img src="assets/doc-preview-sm.png" />
            </div>
            <div class="title">
              <img src="assets/individual.svg" />
              <p>Lorem Pisum</p>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut...</p>
            </div>
            <div class="uploaded-changed">
              <div><img src="assets/upload.svg" /><p>02.07.21, 11:11</p></div>
              <div><img src="assets/sync-alt.svg" /><p>01.01.21, 14:21</p></div>
            </div>
            <div>
              <div><img src="assets/university.svg" /></div>
            </div>
            <div>
              <div class="badge primary">
                <img src="assets/flag.svg" />
                <p>DE</p>
              </div>
              <div class="badge primary">
                <img src="assets/flag.svg" />
                <p>EN</p>
              </div>
            </div>
          <div>
            <div class="badge secondary"><p>Custom</p></div>
            <div class="badge secondary"><p>SpecialTag</p></div>
          </div>
          </div>

          <div class="item">
            <div class="checkbox">
              <input type="checkbox">
              <img src="assets/doc-preview-sm.png" />
            </div>
            <div class="title">
              <img src="assets/individual.svg" />
              <p>Lorem Pisum</p>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut...</p>
            </div>
            <div class="uploaded-changed">
              <div><img src="assets/upload.svg" /><p>02.07.21, 11:11</p></div>
              <div><img src="assets/sync-alt.svg" /><p>01.01.21, 14:21</p></div>
            </div>
            <div>
              <div><img src="assets/university.svg" /></div>
            </div>
            <div>
              <div class="badge primary">
                <img src="assets/flag.svg" />
                <p>DE</p>
              </div>
              <div class="badge primary">
                <img src="assets/flag.svg" />
                <p>EN</p>
              </div>
            </div>
          <div>
            <div class="badge secondary"><p>Custom</p></div>
            <div class="badge secondary"><p>SpecialTag</p></div>
          </div>
          </div>
        </div>

        <div class="footer">
          <div class="pagination-buttons">
            <button class="btn-pagination"><img src="assets/pagination-first.svg"></button>
            <button class="btn-pagination"><img src="assets/chevron-left.svg"></button>
            <button class="btn-pagination active"><p>1</p></button>
            <button class="btn-pagination"><p>2</p></button>
            <button class="btn-pagination"><p>3</p></button>
            <button class="btn-pagination"><img src="assets/chevron-right.svg"></button>
            <button class="btn-pagination"><img src="assets/pagination-last.svg"></button>
          </div>
          <div class="count">
            <p>1-9 of 409 <span>Document Types</span></p>
          </div>
        </div>
      </div>
    </main>
</div>
