$brand-primary:   #4DB6CE;
$brand-secondary: #095769;
$brand-primary-dark: $brand-secondary;

$gray-100:  #F0F3F5;
$gray-200:  #C2CFD6;
$gray-300:  #869FAC;
$gray-400:  #A4B7C1;
$gray-500:  #678898;
$gray-600:  #536C79;
$gray-700:  #3E515B;
$gray-800:  #29363D;
$gray-900:  #151B1E;

$border-radius: 2px;
$spacing-sm: 8px;
$spacing-md: 20px;
