@import 'reset';
@import 'functions';
@import 'variables';
@import 'page-layout/navigation';
@import 'page-layout/header';
@import 'page-layout/content';
@import 'page-layout/tabs';
@import 'components/tables';
@import 'components/badges';

.app {
  display: flex;
}

body, button {
  font-family: Barlow, Arial, sans-serif;
  font-size: 13px;
  color: $gray-700;
  border: none;
}

a {
  color: $brand-primary;
  text-decoration: none;
}

input {
  outline: 0;
}
